// Make sure this file isnt purged
/* purgecss start ignore */

// here we need to style all the elements that are inside the post content. 
// https://ghost.org/docs/themes/content/

.kg-card {
    width: 100%;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    overflow: hidden;
    /* We can fix this later */
}


// BODY

.post-content {
    padding-left: 10%;
    padding-right: 10%;
}


















// Make sure this file isnt purged
/* purgecss end ignore */