<div class="text-center">
    <h2>Wat past bij jou?</h2>
    <p class="lead text-muted">We hebben op dit moment 3 opties om mee te doen.<br> In de toekomst komt er een 4e optie
        bij: <strong>"online+"</strong><br> Ideaal als je liever op je eigen tempo en locatie leert.<br> Bekijk hier
        welke optie het beste bij jou past.</p>

    <div class="row my-5 align-items-center justify-content-center g-0">

        {{!-- FLOATING MEMBER CARD --}}
        <div class="col-8 col-lg-4 col-xl-3 my-3">
            <div class="card bg-light text-dark">
                <div class="card-body text-center-py-4">
                    <h4 class="card-title">Floating Member</h5>
                        <p class="lead card-subtitle">Aangenaam Kennis Maken</p>
                        <p class="display-5 my-4" style="color: var(--ghost-accent-color);">Gratis</p>
                        <p class="card-text mx-5 text-secondary d-block">Meteen op de hoogte van seminars, aanbiedingen
                            en het online+ programma!<br><br> De kortingscodes voor studenten
                            gelden ook voor jou!<br><br>Toegang tot de gratis online lesstof</p>
                        <a href="#/portal" class="btn" style="background-color: var(--ghost-accent-color);">Ik schrijf
                            me in</a>
                </div>
            </div>
        </div>

        {{!-- Main membership card --}}
        <div class="col-8 col-lg-4 col-xl-3 my-3">
            <div class="card bg-light text-dark border-2" style="border-color: var(--ghost-accent-color);">
                <div class="card-header bg-secondary text-center text-light">meest populair</div>
                <div class="card-body text-center-py-5">
                    <h4 class="card-title">Ichigendo Student</h5>
                        <p class="lead card-subtitle">Hier begint de reis pas echt</p>
                        <p class="display-5 my-4" style="color: var(--ghost-accent-color);">Volwassen Les</p>
                        <p class="card-text mx-5 text-secondary d-block">Alles binnen "floating member"<br><br> Toegang
                            tot de lessen in de dojo.<br><br> Toegang tot de les stof die we in de Dojo
                            behandelen<br><br> <strong>inclusief</strong> toegang tot Online+ wanneer het uitkomt!</p>
                        <a href="https://ichigendo.plugandpay.nl/checkout/ichigendo-checkout" class="btn"
                            style="background-color: var(--ghost-accent-color);">Vertel me meer!</a>
                </div>
            </div>
        </div>

        {{!-- Kids Lessen --}}
        <div class="col-8 col-lg-4 col-xl-3 my-3">
            <div class="card bg-light text-dark">
                <div class="card-body text-center-py-4">
                    <h4 class="card-title">Little Ninja</h5>
                        <p class="lead card-subtitle">Jong geleerd...</p>
                        <p class="display-5 my-4" style="color: var(--ghost-accent-color);">Kids Les</p>
                        <p class="card-text mx-5 text-secondary d-block">Les is speciaal aangepast op
                            kinderen<br><br>Spelenderwijs kennismaken met Martial arts<br><br>Gericht op de ontwikkeling
                            van het kind zelf</p>
                        <a href="https://ichigendo.plugandpay.nl/checkout/ichigendo-checkout-1710591773" class="btn"
                            style="background-color: var(--ghost-accent-color);">Vertel me meer</a>
                </div>
            </div>
        </div>
    </div>