<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <button class="nav-link active" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="true">Info</button>

        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Lestijden</button>

        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="false">Locatie</button>

    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="text-center">
                <h2>Waar en wanneer</h2>
            </div>
            <div class="mt-5 text-center">
                <p>De eerste stap in Martial Arts is altijd het binnenstappen van de Dojo.</p>
                <p>We zijn hier om je te helpen, of je nu een beginner bent of een doorgewinterde beoefenaar.</p>
                <p>Hier vind je alle praktische informatie die je nodig hebt om ons te vinden.</p>
            </div>
    </div>

    <div class="tab-pane fade p-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="text-center">
            <h2>Locatie</h2>
            <p>Gymzaal Basisschool Starrebos <br>Schoolstraat 38, <br> 5081VH Hilvarenbeek.</p>
            <p class="lead">De ingang is via het schoolplein.</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4968.5556589977805!2d5.131687399999999!3d51.48976889999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6c0ad7eb2410d%3A0xdc88693658eae6bd!2sIchigendo%20Nederland!5e0!3m2!1snl!2snl!4v1710622789457!5m2!1snl!2snl"
                width="500" height="300" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="tab-pane fade p-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="text-center">
            <h2>Lestijden</h2>
            <p>Dinsdag | Kleintjes | 18:15 - 19:00 | (6-11 jaar)</p>
            <p>Dinsdag | Gevorderden | 19:00 - 20:30 | </p>
            <p>Donderdag | Basis | 18:30 - 19:30 | </p>
            <p>1-2x per maand | Buiten Training | 10:00 - 12:00 |</p>
        </div>

    </div>
</div>
