{{!< default}}

<main id="#main">
    {{!-- hero section --}}
    <div class="container-lg">
        <p>hello</p>
    </div>


    {{!-- Feature section 1 --}}

    {{!-- Paralax 1 --}}

    {{!-- waar, wanneer en offer, voor wie --}}

    {{!-- Andere kijk op maertial arts --}}

    {{!-- Paralax 2 --}}

    {{!-- Veel gestelde vragen en meedoe knop daarnaast --}}

    {{!-- Blog --}}

    {{!-- Footer --}}

</main>