{{!< default}}
<section class="container my-5">
        <div class="mb-5">
            <h1>Ichigendo Blog</h1>
            <p class="text-muted">
                Welkom op de blog van de Ichigendo dojo. <br> Hier vind je alle artikelen over ninjutsu, de diepgang van
                martial arts en tools voor zelfontwikkeling. <br> Wij wensen je veel leesplezier!
            </p>
        </div>
        {{>"cardsgrid"}}
    </section>