#header {
    position: relative;
    width: 100%;
    height: 75vh; /* Adjust this as needed for your design */
    
    picture, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75vh; /* Keep this the same as the header vh */
        object-fit: cover; /* Ensures the image covers the entire header */
        z-index: -1; /* Sends the image behind any other header content */
    }
}