{{!-- This is a bit sloppy, 
but I need to put in the elements that are not rendered in my theme 
so bootrrap can find them
Otherwise they will NOT be rendered in the cleaned up css --}}
<blockquote style="display: none;">test</blockquote>

<figure style="display: none;" class="kg-card kg-card kg-product-card kg-image-card kg-width-wide kg-width-full">
    <img class="kg-image" alt="">
</figure>

<div class="kg-video-container kg-gallery-containerkg-gallery-row kg-gallery-image"></div>